/* .meet-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #a30b9d;
} */
/* ............................................Responsive.............................. */
.Meet-head2 {
	width: 600px;
	font-size: 46px;
	color: #000545;
}

.modal-header {
	border-bottom: none !important;
}

.event_popup_modal.modal-body {
	padding: 2em;
	padding-bottom: 3em;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1)), url('../../../images/top-view-dubai.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.Pod-head4 {
	font-weight: 600;
	font-family: 'Muli', sans-serif;
}

.calender-icon {
	color: purple;
	font-size: 18px;
}

.num-content {
	font-size: 18px;
	font-family: 'Muli', sans-serif;
	font-weight: 600;
}

.meetmepara {
	width: 600px;
	font-size: 1.2em;
}

.availabe-for {
	font-size: 1.2em;
}

.know-btn {
	width: 160px;
	height: 45px;
	border-radius: 50px;
	background-color: #fff;
	border: 1px solid #a30b9d;
	color: #a30b9d;
	margin-right: 1em;
	padding: 9px 30px 13px 30px;
    text-decoration: none;
    display: inline-block;
	text-align: center;
	cursor: pointer;

	&:hover {
		// background-color: #a30b9d;
		background: linear-gradient(45deg, #a30b9d, #7c14ef);
		color: #fff;
		border: 1px solid #a30b9d;
	}
}

.meet-btn {
	width: 250px;
	height: 45px;
	border-radius: 50px;
	background: linear-gradient(45deg, #a30b9d, #7c14ef);
	// background-color: #a30b9d;
	border: none;
	color: white;
	padding: 9px 40px 13px 40px;
	text-decoration: none;
	display: inline-block;
	text-align: center;

	&:hover {
		color: white;
	}
}

.calender_div {
	display: flex;
	align-items: center;

	img {
		width: 40px;
		margin-right: 10px;
	}
}

.event_modal_div {
	.event_header {
		button {
			margin-bottom: -3em;
			z-index: 1;
			margin-right: 10px;

			&:focus {
				box-shadow: none;
			}
		}
	}
}

.event_header.modal-header {
	padding: 0px;
}

@media screen and (max-width:768px) {
	.Meet-head2 {
		width: auto;
		font-size: 1.4em;
		font-weight: 700;
	}

	.meetmepara {
		width: auto;
		font-size: 16px;
	}

	.availabe-for {
		font-size: 16px;
	}

	.know-btn {
		margin-bottom: 10px;
	}
}

@media screen and (max-width:514px) {
	.event_modal_div .event_popup_modal .know-btn {
		width: 100%;
		display: inline-block;
		text-align: center;
	}

	.meet-btn {
		width: 100%;
	}
}

.event_popup_modal {
	position: relative;

	.north_img {
		position: absolute;
		top: 20px;
		right: 40px;

		img {
			width: 150px;
		}
	}
}

@media screen and (max-width: 480px) {
	.event_popup_modal .north_img img {
		width: 100px;
	}

	.event_modal_div .event_popup_modal .Meet-head2 {
		margin-top: 45px;
	}

	.event_modal_div .event_popup_modal .north_img {
		top: 0px;
		left: 15px;
	}
}

@media screen and (max-width: 991px) {
	.event_popup_modal .north_img img {
		width: 100px;
	}

	.event_popup_modal .north_img {
		position: absolute;
		top: 140px;
		right: 25px;
	}
}

@media screen and (max-width:767px){
	.event_modal_div .event_popup_modal .know-btn {
		margin-bottom: 22px;
	}
	.modal_img_logo{
		// display: block;
		// margin: auto;
		width: 110px;
	}
}

@media (min-width:767px) and (max-width:991px){
	.modal_img_logo{
		
		width: 110px;
	}
	.modal-dialog{
		max-width: 100%;
	}
}